

a {
    text-decoration: none;

}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p.leftNav {
  font-size: 1.3em;
  padding-top: 5px;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;

}


 a:link ,a:visited, a:hover{
    text-decoration: none;
    cursor: pointer;
}

