<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>

			<!-- bootStrap -->
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="/lib/src/angular.min.js"></script>
			<script src="/lib/js/controller.js"></script>

			<script src="/lib/js/jquery-3.1.1.min.js"></script>
			<script src="/lib/js/bootstrap.min.js"></script>
		</head>
		<body>
			<div class="container" style="margin-bottom: 10px;margin-top: 40px">
				<div class="row">
					<div class="col-md-3">
						<h2>小米布加糖</h2>
					</div>
				</div>
			</div>
			<div class="container" style="font-size: 18pt;margin-bottom: 10px">
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar navbar-header" role="navigation">
							<div class="container-fluid">
								<div>
									<ul class="nav navbar-nav">
										<li><a href="/">首页</a></li>
										<li><a href="/blog">时光轴</a></li>
										<li><a href="/about">关于</a></li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
				<div class="row"><div class="col-md-12" style="background-color: black;margin-top: -18px;"></div></div>
			</div>
			<div ng-app="myApp" ng-controller="homeCtrl" class="container">
				{{ content }}
			</div>
			<div class="container">
				<div class="row"><div class="col-md-12"
									  style="
									  background-color: gray;
									  height: 1px;margin-top: 80px;margin-bottom: 10px"></div></div>
				<div class="row">
					<div class="col-md-1"><address><a href="mailto:cpf0051@163.com">email</a></address></div>
					<div class="col-md-1"><address><a href="https://github.com/hankquinlan">github.com/BonjourHub</a></address></div>
				</div>
			</div>

		</body>
	</html>
