---
layout: default
---
<table ng-controller="homeCtrl" class="menuColor" width="100%" border="0">
  <tr>
    <!-- left menu -->
    <td width="15%" style="background-color: white;">

      <!-- 可以直接使用div -->
      <table border="1" cellpadding="10" cellspacing="10" class="leftMenu">
        <!-- ng-repeat 复制元素 自动绑定数据 -->
        <tr><td>目录导航</td></tr>

        <tr ng-repeat="item in items">
          <td><a href="/" ng-bind="item.title"></a></td>
        </tr>

      </table>
    </td>
    <!-- right menu -->
    <td style="background-color: #FFFFFF">
      <div class="container">
        {{ content }}
      </div>
    </td>
  </tr>

</table>